@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, Georgia, serif;
  }

  body {
    font-family: 'Times New Roman', Times, Georgia, serif;
  }

  code, pre {
    font-family: 'JetBrains Mono', monospace;
  }
}
